let rUrl = "xxx";
//let rUrl = 'xxx'

let categoryId = "8620acda-74ce-4858-8e02-939ede117091";
let rToken = "xxx";
let params = {
  headers: {
    "X-AUTH-TOKEN": rToken,
  },
};
let checkList = {
  "Is status code 200": (r) => r.status === 200,
  "Is response faster than 1s": (r) => r.timings.duration < 1000,
  "Is response faster than 2s": (r) => r.timings.duration < 2000,
  "Is there an error in the response": (r) => !r.error,
};
module.exports = {
  rToken,
  rUrl,
  params,
  checkList,
  categoryId,
};
